**/firebase-module/src/plugins/initAuth.js
**/firebase-module/src/plugins/main.js
**/firebase-module/src/templates/firebase-messaging-sw.js
**/firebase-module/src/serverMiddleware/firebaseServerAuth.js